 /* imports */
@import "./imports/_mixins.less";
@import "./imports/_grid.less";
@import "./imports/_variables.less";
@import "./imports/_fonts.less";



h1,h2,h3,h4,p {
  margin-top: 0;
  margin-bottom: 0;
}


.section {

  padding: 90px 0;
  background-color: @white;
  &--gray {
    background-color: @gray;
  }

  &__title {
    margin-bottom: 50px;
    
    color: @text;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
}



.header {

}

.category {
  padding: 40px 30px;
  box-shadow: 0 2px 10px rgba(206, 206, 206, 0.5);
  background-color: #ffffff;
}


.product {
  &__title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__price {
    color: @green;
    font-size: 14px;
    font-weight: 700;

    span {
      color:@text-gray;
      text-decoration: line-through;
    }
  }
}


.footer {
  height: 120px;
  background-color: @blue-gray;
}